header {
    height: 150px;
    width: 100%;
    background-color: #0D4A3A;
    text-align: left;
    display:flex;
    color: rgba(255, 255, 255, 0.877);
    font-size:larger;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-left: 5%;
    font-size: 300%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .navbutton {
    height: 75px;
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
  }