.logincard {
    background-color: #2D5731;
    border-radius: 5%;
    margin: 2% 20% 5% 42%;
    padding: 2% 10% 2% 15%;
    align-content: right;
    align-items: right;
    color: rgba(255, 255, 255, 0.877);
    font-size:larger;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
}

input[type=submit] {
    width: 125px;
    background-color: #7B6823;
    border-radius: 10%;
    border: none;
    color: rgba(255, 255, 255, 0.877);
    font-size: large;
}

input[type=submit]:hover {
    transform:scale(110%)
}

#register {
    width: 125px;
    background-color: #7B6823;
    border-radius: 10%;
    height: 40px;
    border: none;
    color: rgba(255, 255, 255, 0.877);
    font-size: large;
}

p {
    width: 30%;
    margin-top: 60px;
    margin-left: 45%;
    align-content: center;
    align-items: center;
    text-wrap: balance;
    text-align: center;
}