.ViewBlocks {
    text-align: center;
    color: #033B3D;
    font-size: small;
    max-height: 700px;
    overflow: auto;
    padding: 10px;
}

#submitblock {
    width: 125px;
    background-color: #7B6823;
    border-radius: 10%;
    border: none;
    color: rgba(255, 255, 255, 0.877);
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 150px;
    float: right;
}

